
h1,h2,h3,h4,h5,h6,
p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size:  16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}
.conteiner{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
ul{
    list-style: none;
    color: #434455;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #434455;
}
a:hover,
a:focus {
    color: #404bbf;
}
button:hover,
button:focus {
    cursor: pointer;
    color: #434455;
    font-weight: 500;  
    background-color: #404BBF;
}
h2 {
    font-size: 36;
    font-weight: 700;
    line-height: 1.11;
}
h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
}
img {
    display: block;
    max-width: 100%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header .conteiner{
    display: flex;
    justify-content: space-between;
}
.header {
    border-bottom: 1px solid #E7E9FC;
}
.header-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 24px 0;
    margin-right: 76px;
}
.logo-header-studio {
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
}
.header-navigation{
    display: flex;
}
.header-links{
    display: flex;
    gap: 40px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    align-items: center;
}
.header-link-studio {
    color: #2e2f42;
    padding: 24px 40px 24px 0;
}

.contacts{
    display: flex;
    gap: 40px;
    font-style: normal;
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 24px;
    padding-bottom: 24px;
 }
.contacts-lits{
    letter-spacing: 0.02em;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.hero {
    background-color: #2E2F42;
}
.hero-section {
    text-align: center;
}
.hero-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: 0px;
    margin-top: 48px;
}

.philosophy-list {
     display: flex;
     gap: 24px;
     flex-basis: calc((100% - 72px)/4);
}

.philosophy-subtitle{
    margin-bottom: 8px;
}
.philosophy-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team{
    background-color: #F4F4FD;
}
.team-name{
    padding: 32px 16px;
    text-align: center;
}
.team-title{
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 32px;
}
.team-photo{
    background-color: #FFFFFF;
}
.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.portfolio-name{
    border-top: 0;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    width: 360px;
    height: 120px;
    margin-bottom: 48px;
}
.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.portfolio-text{
    letter-spacing: 0.02em;
    padding-left: 16px;
}
.footer{
    background-color:#2E2F42;
}
.footer .conteiner{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        font-weight: 700;
        color:#4d5ae5;
        letter-spacing: 0.03em;
    }
    .logo-studio{
        color: #f4f4fd;
    }
.footer-text{
    letter-spacing: 0.02em;
    color:#F4F4FD;
    width: 264px;
    margin-top: 16px;
}