
h1,h2,h3,h4,h5,h6,
p,ul {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-size:  16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style: none;
    color: #434455;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #434455;
}
a:hover,
a:focus {
    color: #404bbf;
}
button:hover,
button:focus {
    cursor: pointer;
    color: #434455;
    font-weight: 500;  
    background-color: #404BBF;
}
h2 {
    font-size: 36;
    font-weight: 700;
    line-height: 1.11;
}
h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
}

.header-links{
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.contacts{
    font-style: normal;
}
.contacts-lits{
    letter-spacing: 0.02em;
}
.header-logo{
    color: #4d5ae5;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}
.logo-header-studio{
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.header-link-studio {
color: #2e2f42;
}
.hero {
    font-weight: 700;
    background-color: #2E2F42;
    color: #FFFFFF;
    text-align: center;
    width: 1440px;
    height: 600px;
}
.hero-section {
    margin-left: auto;
    margin-right: auto;
}
.hero-title{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
}
.philosophy-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team{
    background-color: #F4F4FD;
}

.team-photo{
    background-color: #FFFFFF;
}
.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.portfolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text{
    letter-spacing: 0.02em;
}
.footer{
    background-color:#2E2F42;
}
.footer-logo {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        font-weight: 700;
        color:#4d5ae5;
        letter-spacing: 0.03em;
    }
    .logo-studio{
        color: #f4f4fd;
    }
.footer-text{
    letter-spacing: 0.02em;
    color:#F4F4FD;
}